CETP.bed
CETP.bim
CETP.fam
CETP.map
CETP.ped
CETP_Analysis.Rmd
CETP_Analysis_clean.html
CETP_Analysis_clean_cache/
CETP_Analysis_clean_files/
CETP_DM
CETP_GT_new
CETP_PTO1.txt
CETP_RD
CETP_assay.csv
CZ-MB1.2-QC1.10_CoreExome24-1.0-3_genotyped-QCd_rsIDconverted.fam
CZ-MB1.2-QC1.10_MergedPhenotypes_20082020.txt
Figures/
NPH_CETP
PTO_AnalysisFile_UseFinalNOV.xlsx
Tables/
allpoly.pheno.txt
allpoly_plinkfilter.txt
full_HDL_results.txt
full_LDL_results.txt
sequenom_master_wo_dups_w_NPH.txt
